body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hall{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .5) ;
}

.door {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 150px;
    font-size: 60px;
    border-radius: 5px;
}

.door_face {
    background-color: orange;
    color: white;
}

.door_empty {
    background-color: black;
    color: white;
}

.door_marked {
    border-style: solid; /* Estilo da borda */
    border-width: 3px; /* Largura da borda */
    border-color:blue; /* Cor da borda */
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    width: 500px;
    color: white;
    font-size: 30px;
}